{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}

{% set title = title|default("Drink Name") %}
{% set price = price|money|default("€0.00") %}
{% set image = image|default(null) %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<article class="drink-card {{ class }}" {{ attr(attributes) }}>
    <div class="drink-card__image">
        {% if image %}
            <img src="{{ image.url }}" alt="{{ title }}">
        {% else %}
            <div class="drink-card__image--placeholder"></div>
        {% endif %}
    </div>

    <div class="drink-card__content">
        <h3 class="drink-card__title typo-body-sm">{{ title }}</h3>
        <div class="drink-card__footer">
            <span class="drink-card__price typo-body-md">{{ price }}</span>
            <button @click="addDrinkToTab" class="drink-card__cta">Bestel</button>
        </div>
    </div>
</article>
